@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* -------- Color-Theme --------- */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-datatable-foreground: var(--datatable-foreground);
  --color-datatable-headingColor: var(--datatable-headingColor);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-table: var(--table-bg);
  --color-page-titleColor: var(--page-titleColor);

  /* -------- Global --------- */

  --font-sans: Open Sans, sans-serif;
  --font-mono: Menlo, monospace;
  --font-serif: Georgia, serif;

  --text-global: var(--global-font-size);
  --text-page-titleSize: var(--page-title-font-size);
  --text-page-description: var(--text-page-description-font);
  --text-table-cell: var(--table-cell-font);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 1.3rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

:root {
  /* -------- Page Title --------- */
  --page-title-font-size: 1.5em;
  --page-titleColor: oklch(27.274% 0.00003 271.152);

  /* -------- data-Table --------- */
  --datatable-foreground: oklch(0.8761 0.0657 23.1205);
  --datatable-headingColor: oklch(27.274% 0.00003 271.152);

  --table-bg: #fdf4f5;
  --table-cell-font: 1em;
  --text-page-description-font: 0.7em;
  /* -------- Background-Theme --------- */
  --background: oklch(1 0 0);
  --foreground: oklch(0.1884 0.0128 248.5103);

  /* -------- Card-Theme --------- */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.6151 0.1634 26.9437);

  /* -------- Popover-Theme --------- */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1884 0.0128 248.5103);

  /* -------- Primary-Theme --------- */
  --primary: oklch(0.6151 0.1634 26.9437);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.1884 0.0128 248.5103);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.8761 0.0657 23.1205);
  --muted-foreground: oklch(0.1884 0.0128 248.5103);
  --accent: oklch(0.6151 0.1634 26.9437);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6188 0.2376 25.7658);
  --destructive-foreground: oklch(1 0 0);

  /* -------- Border-Theme --------- */
  --border: oklch(0.8761 0.0657 23.1205);

  /* -------- Input-Theme --------- */
  --input: oklch(0.9809 0.0025 228.7836);
  --ring: oklch(0.6151 0.1634 26.9437);

  /* -------- Chart-Theme --------- */
  --chart-1: oklch(0.9164 0.0428 23.2965);
  --chart-2: oklch(0.8174 0.1026 23.931);
  --chart-3: oklch(0.7332 0.1593 26.2132);
  --chart-4: oklch(0.6689 0.1965 27.5911);
  --chart-5: oklch(0.5552 0.2128 29.7113);

  /* -------- Sidebar-Theme --------- */
  --sidebar: oklch(0.9164 0.0428 23.2965);
  --sidebar-foreground: oklch(0.1884 0.0128 248.5103);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8174 0.1026 23.931);
  --sidebar-accent-foreground: oklch(0.1884 0.0128 248.5103);
  --sidebar-border: oklch(0.8174 0.1026 23.931);
  --sidebar-ring: oklch(1 0 0);

  /* -------- Global --------- */
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;

  /* -------- Shadow --------- */
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-color: rgba(29, 161, 242, 0.15);
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --global-font-size: 14px;
}

.dark {
  /* -------- Page Title --------- */
  --page-title-font-size: 1.5em;
  --page-titleColor: oklch(61.815% 0.15358 26.314);

  /* -------- data-Table --------- */
  --datatable-foreground: oklch(27.274% 0.00003 271.152);
  --datatable-headingColor: oklch(61.815% 0.15358 26.314);

  --table-bg: oklch(0.2097 0.008 274.5332);
  --background: oklch(0 0 0);
  /* --foreground: oklch(0.9328 0.0025 228.7857); */
  --foreground: oklch(72.288% 0.09724 23.65);
  --card: oklch(0.2097 0.008 274.5332);
  --card-foreground: oklch(0.8853 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9328 0.0025 228.7857);
  --primary: oklch(0.6151 0.1634 26.9437);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9622 0.0035 219.5331);
  --secondary-foreground: oklch(0.1884 0.0128 248.5103);
  --muted: oklch(0.209 0 0);
  --muted-foreground: oklch(0.5637 0.0078 247.9662);
  --accent: oklch(0.6151 0.1634 26.9437);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6188 0.2376 25.7658);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2674 0.0047 248.0045);
  --input: oklch(0.302 0.0288 244.8244);
  --ring: oklch(0.6151 0.1634 26.9437);
  --chart-1: oklch(0.9164 0.0428 23.2965);
  --chart-2: oklch(0.8174 0.1026 23.931);
  --chart-3: oklch(0.7332 0.1593 26.2132);
  --chart-4: oklch(0.6689 0.1965 27.5911);
  --chart-5: oklch(0.5552 0.2128 29.7113);
  --sidebar: oklch(0.2097 0.008 274.5332);
  --sidebar-foreground: oklch(0.8761 0.0657 23.1205);
  --sidebar-primary: oklch(0.6151 0.1634 26.9437);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(27.274% 0.00003 271.152);
  --sidebar-accent-foreground: oklch(0.6151 0.1634 26.9437);
  --sidebar-border: oklch(27.274% 0.00003 271.152);
  --sidebar-ring: oklch(0.6151 0.1634 26.9437);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-color: rgba(29, 161, 242, 0.25);
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

/* font Size */
@layer utilities {
  .global-font-size {
    @apply text-[14px];
  }
}

/* Button Colours */
@layer utilities {
  .Header_icon {
    @apply bg-sidebar hover:bg-primary hover:text-primary-foreground rounded-[100%] px-[9px] hover:scale-105 transition-all cursor-pointer;
  }

  .Button_class {
    @apply bg-sidebar hover:bg-primary text-sm hover:text-primary-foreground px-4 py-0 transition-all cursor-pointer;
  }
}

/* Scrollbar styles */
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: none;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #fca5a5;
  border-radius: 4px;
}

.main_height {
  height: calc(100% - 15px);
}
